.App {
  text-align: center;
}

.header {
  color: white;
}

h1 {
  font-weight: 400;
  font-size: 50px;
}

p {
  color: white;
}

.link-container > Link, p {
  display: inline-block;
  align-items: center;
}

.link {
  color: rgb(245, 245, 107);
  text-decoration: none;
}
.login-link {
  margin-bottom: 20px;
}

.login {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sign-up-and-login-form {
  display: flex;
  flex-direction: column;
}

.add-picture {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 300px;
}

.add-picture-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  background: url('./assests/Add_picture.png');
  background-size: 300px;
  background-repeat: no-repeat;
  width: 300px;
  height: 170px;
  cursor: pointer;
}

.add-picture-input {
  align-content: center;
  align-self: center;
  position: absolute;
  display: none;
  cursor: pointer;
}

.sign-up {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 70px;
}

.inputs {
  background: none;
  outline: none;
  color: white;
  border: 0;
  border-bottom: 2px white solid;
  font-size: 20px;
  width: 20rem;
}

.inputs::placeholder {
  color: white;
}

.login-and-sign-up-button {
  background: transparent;
  border: none;
  size: 20%;
  cursor: pointer;
}

.sign-up-button {
  margin-top: 2vh;
  margin-bottom: 20vh;
}

.login-button {
  margin-top: 50vh;
}

.login-and-sign-up__img {
  width: 300px;
}

.dashboard {
  margin: 0 auto;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 30px;
  justify-content: center;
  align-items: center;
}

.dashboard-bricks {
  background: url('./assests/Container.png');
  background-size: 300px;
  background-repeat: no-repeat;
  width: 300px;
  height: 250px;
  align-self: center;
  justify-self: center;
}
.dashboard-bricks > p {
  color: black;
  font-size: 18px;
}

@media (max-width: 850px) {
  .login {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 60px;
  }
  .sign-up {
    margin-top: 4rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
